@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

html {
    background: #111119;
}


/* Button */

button {
    color: white;
    background-color: #009BD2;
    font-size: 1rem;
    border: none;
    padding: 8px 32px;
    border-radius: 4px;
    line-height: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #006a91;
}

button:disabled {
    background-color: #838383;
    color: #3a3a3a;
    cursor: default;
}

button:disabled:hover {
    background-color: #838383;
}

button:disabled > span {
    color: #3a3a3a;
}


/* Submit Button */

input[type="submit"] {
    color: white;
    background-color: #009BD2;
    font-size: 1rem;
    border: none;
    padding: 8px 32px;
    border-radius: 4px;
    line-height: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006a91;
}

input[type="submit"]:disabled {
    background-color: #838383;
    color: #3a3a3a;
    cursor: default;
}

input[type="submit"]:disabled:hover {
    background-color: #838383;
}


/* Headlines */

h1 {
    color: white;
    font-size: 2rem;
    margin: 0 0 8px 0;
}


/* Label */

label {
    font-size: 1rem;
    margin-bottom: 4px;
}


/* Text and password fields and textareas */

input[type="text"], input[type="password"], textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 2px solid #525252;
    background: none;
    border-radius: 8px;
}

input[type="text"].error, input[type="password"].error, textarea.error {
    border: 2px solid #FF3B30;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
    font-size: 1rem;
    color: #969696;
}


/* Link */

a {
    color: #009BD2;
    margin-bottom: 8px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Label above input fields */

.inputlabel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Error state for input fields */

p.error {
    margin: 0;
    color: #FF3B30;
}


/* Hide the radio input buttons for the select field design */

input[type="radio"] {
    width: 0;
    margin: 0;
}


/* Selector input field built from radio buttons */

.selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #525252;
    box-sizing: border-box;
    border-radius: 8px;
}

.selector > label.active {
    margin-bottom: 0;
    padding: 12px 0;
    width: 50%;
    background: white;
    border-radius: 6px;
    cursor: default;
}

.selector > label.active > span { color: #525252; }

.selector > label.inactive {
    margin-bottom: 0;
    padding: 12px 0;
    width: 50%;
    background: none;
    border-radius: 6px;
    cursor: pointer;
}

.selector > label.inactive > span { color: white; }


/* Spacer for forms */

.spacer {
    height: 16px;
}


/* Loading Spinner */

.loading {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 50%;
    animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.loading div:nth-child(1) {
    animation-delay: -0.45s;
}

.loading div:nth-child(2) {
    animation-delay: -0.3s;
}

.loading div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}