@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

html {
    background: #111119;
}

button {
    color: white;
    background-color: #009BD2;
    font-size: 1rem;
    border: none;
    padding: 8px 32px;
    border-radius: 4px;
    line-height: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #006a91;
}

button:disabled {
    background-color: #838383;
    color: #3a3a3a;
    cursor: default;
}

button:disabled:hover {
    background-color: #838383;
}

input[type="submit"] {
    color: white;
    background-color: #009BD2;
    font-size: 1rem;
    border: none;
    padding: 8px 32px;
    border-radius: 4px;
    line-height: 1rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #006a91;
}

input[type="submit"]:disabled {
    background-color: #838383;
    color: #3a3a3a;
    cursor: default;
}

input[type="submit"]:disabled:hover {
    background-color: #838383;
}

h1 {
    color: white;
    font-size: 2rem;
    margin: 0 0 8px 0;
}

label {
    font-size: 1rem;
    margin-bottom: 4px;
}

input[type="text"], input[type="password"], textarea {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 8px;
    border: 2px solid #525252;
    background: none;
    border-radius: 8px;
}

input[type="text"].error, input[type="password"].error, textarea.error {
    border: 2px solid #FF3B30;
}

input[type="text"]::placeholder, input[type="password"]::placeholder, textarea::placeholder {
    font-size: 1rem;
    color: #969696;
}

a {
    color: #009BD2;
    margin-bottom: 8px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.inputlabel {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p.error {
    margin: 0;
    color: #FF3B30;
}

input[type="radio"] {
    width: 0;
    margin: 0;
}

.selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #525252;
    box-sizing: border-box;
    border-radius: 8px;
}

.selector > label.active {
    margin-bottom: 0;
    padding: 12px 0;
    width: 50%;
    background: white;
    border-radius: 6px;
    cursor: default;
}

.selector > label.active > span { color: #525252; }

.selector > label.inactive {
    margin-bottom: 0;
    padding: 12px 0;
    width: 50%;
    background: none;
    border-radius: 6px;
    cursor: pointer;
}

.selector > label.inactive > span { color: white; }

.spacer {
    height: 16px;
}